@font-face
	font-family: 'Museo Sans';
	src: url('f/museosans-100.woff') format('woff'), url('f/museosans-100.ttf') format('truetype');
	font-weight: 100
	font-style: normal

html
	padding 0
	margin 0
h1, h2, h3, h4, h5, h6
	margin: 0
body
	background white
	font-family 'Roboto', sans-serif
	font-weight: 300
	margin 0
	padding 0
	box-sizing border-box
.wrap
	background #ebeef6
.wrap
	h1
		text-align center
		font-size 34px
		padding 30px 0
		font-weight 300
.content-wrap
	margin -20px 0
	

