include ../../bemto/bemto
include ../blocks/index

doctype html
html
	head
		title {SiteName}	
		link(rel="stylesheet" href="/assets/app.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic-ext"  rel="stylesheet")
	body
		block main
